* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  /* background-color: #0d0d59; */
  background-color: #6363a7;
  color: #fff;
  padding: 15px 0;
}
h2 {
  text-align: center;
  padding: 15px 70px;
}
.container {
  margin-top: 100px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container div {
  border: 2px solid;
  height: 100px;
  width: 100px;

  &:first-child {
    background-color: lightseagreen;
  }

  &:nth-child(2) {
    background-color: lightpink;
  }

  &:nth-child(3) {
    background-color: salmon;
  }
  &:nth-child(4) {
    background-color: violet;
  }
  &:nth-child(5) {
    background-color: lightblue;
  }
}
